@import "../../scss/variables.scss";

.posts {
    &__item {
        display: flex;
        justify-content: space-between;
        padding: 15px 0;
        border-bottom: 1px solid lighten($color_primary, 30%);

        &:last-child {
            border-bottom: 0;
        }

        &_important {
            color: lighten($color_primary, 3%);

        }
    }

    &__name {
        margin-right: 10px;
    }

    &__action {
        align-self: center;
        display: flex;
        align-items: center;

        i {
            margin-left: 5px;
            cursor: pointer;

            &.fa-star {
                color: $color_primary;

                .posts__item_important & {
                    color: $color_success;
                }
            }

            &.fa-trash {
                color: $color_primary;

                &.disabled {
                    color: lighten($color_primary, 20%);
                    cursor: default;
                }
            }

            &.fa-heart {
                color: $color_primary;

                .posts__item_like & {
                    color: $color_danger;
                }
            }

        }
    }
}
