/* Global variables */
/* ======================================================================== */
$main_font_family: 'Open Sans';
$second_font_family: 'TT Jenevers';
$main_color: #000;
$main_line_height: 1.3;
$main_font_size: 16px;

$container_width: 80em;

$footer_height: auto;

// Color collection for elements
$color_primary: #7b8287;
$color_success: #eacc9a;
$color_info: #03a9f4;
$color_warning: #fca33e;
$color_danger: #ff1a1a;
$color_withe: #ffffff;
$color_dark: #181818;

$el-colors: (
    primary: $color_primary, // color for .element__primary
    success: $color_success, // color for .element__success
    info: $color_info, // color for .element__info
    warning: $color_warning, // color for .element__warning
    danger: $color_danger, // color for .element__danger
);

/* Grid */
/* ======================================================================== */
$grid_padding: 20px;

/* Form */
/* ======================================================================== */
// Input variables

// Input color
$input_color: $main_color;
$input_bg_color: #fff;
$input_border_color: #ddd;
$input_placeholder_color: #ddd;

// Input hover color
$input_hover_color: #fff;
$input_hover_bg_color: #fff;
$input_hover_border_color: #ddd;
$input_hover_placeholder_color: #ddd;

// Input focus color
$input_focus_color: #fff;
$input_focus_bg_color: #fff;
$input_focus_border_color: #ddd;
$input_focus_placeholder_color: #ddd;

// Input disabled color
$input_disabled_color: #fff;
$input_disabled_bg_color: #ccc;
$input_disabled_border_color: #ccc;
$input_disabled_placeholder_color: #fff;

// Input error color
$input_error_color: red;
$input_error_bg_color: #fff;
$input_error_border_color: red;
$input_error_placeholder_color: red;

// Button variables
$btn_default_bg_color: #ddd;
$btn_default_text_color: $main_color;
$btn_contrast_text_color: $color_withe;
$btn_default_bg_color_hover: #ccc;

// Icon
$icomoon-font-family: "ametist" !default;
$icomoon-font-path: "../fonts" !default;

$icon_close: "\e900";
$icon_en: "\e901";
$icon_facebook: "\e902";
$icon_instagram: "\e903";
$icon_next: "\e904";
$icon_prev: "\e905";
$icon_ru: "\e906";
$icon_vimeo: "\e907";
$icon_youtube: "\e908";